{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Staff Tracker {% block title %}{% endblock %}</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<link rel="icon" type="image/x-icon"  href="{% static 'assets/img/favicon.ico' %}"/>

	<!-- ================== BEGIN core-css ================== -->
	<link href="{% static 'assets/css/vendor.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/css/default/app.min.css' %}" rel="stylesheet" />
	<!-- ================== END core-css ================== -->
	
	

	<!-- ================== BEGIN page-css ================== -->
	<link href="{% static 'assets/plugins/jvectormap-next/jquery-jvectormap.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/gritter/css/jquery.gritter.css' %}" rel="stylesheet" />

	<link href="{% static 'assets/plugins/intro.js/minified/introjs.min.css' %}" rel="stylesheet" />
	<!-- ================== END page-css ================== -->

	{% comment %} <link href="{% static 'assets/css/notification.css' %}" rel="stylesheet" /> {% endcomment %}

	{% comment %} <script>
		document.addEventListener('DOMContentLoaded', function() {
			const notifications = document.querySelectorAll('.notification-container > div');
			notifications.forEach(notification => {
				setTimeout(() => {
					notification.style.opacity = '0';
					notification.style.transform = 'translateX(100%)';
					setTimeout(() => {
						notification.remove();
					}, 500);
				}, 2000);
			});
		});
	</script> {% endcomment %}

</head>
<body>
	<!-- BEGIN #loader -->
	<div id="loader" class="app-loader">
		<span class="spinner"></span>
	</div>
	<!-- END #loader -->

	<!-- BEGIN #app -->
	<div id="app" class="app app-header-fixed app-sidebar-fixed ">
		<!-- BEGIN #header -->
		<div id="header" class="app-header">
			{% include 'flow/partial/navbar.html' %}
		</div>
		<!-- END #header -->
		
		<!-- BEGIN #sidebar -->
		<div id="sidebar" class="app-sidebar" data-bs-theme="dark">
			{% include 'flow/partial/sidebar.html' %}
		</div>
		<div class="app-sidebar-bg" data-bs-theme="dark"></div>
		<div class="app-sidebar-mobile-backdrop"><a href="#" data-dismiss="app-sidebar-mobile" class="stretched-link"></a></div>
		<!-- END #sidebar -->
		
		<!-- BEGIN #content -->
		<div id="content" class="app-content">
			{% block content %}
			{% endblock %}
		<!-- END content-container -->
		<!-- BEGIN #footer -->
		{% comment %} <div id="footer" class="app-footer m-0" style="text-align: left; position: fixed; bottom: 0; left: 0; width: 100%; padding: 15px 20px; background-color: #fff; border-top: 1px solid #dee2e6; z-index: 1000; box-shadow: 0 -2px 10px rgba(0,0,0,0.1);">
            &copy; {% now "Y" %} JAY & OAKS. All right reserved <span style="float: right;">v1.0.0</span>
        </div> {% endcomment %}
		<!-- END #footer -->
		<!-- BEGIN #footer -->
			<!-- BEGIN #footer -->
{% comment %} <div id="footer" class="app-footer m-0" style="text-align: left; position: fixed; bottom: 0; left: 220px; right: 0; padding: 15px 20px; background-color: #fff; border-top: 1px solid #dee2e6; z-index: 1000; box-shadow: 0 -2px 10px rgba(0,0,0,0.1);">
    © {% now "Y" %} JAY & OAKS. All right reserved <span style="float: right;">v1.0.0</span>
</div> {% endcomment %}
<!-- END #footer -->
		</div>
		<!-- END #content -->
		
		<!-- BEGIN scroll-top-btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-theme btn-scroll-to-top" data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>
		<!-- END scroll-top-btn -->
	</div>
	<!-- END #app -->
	
	<!-- ================== BEGIN core-js ================== -->
    <script src="{% static 'assets/js/vendor.min.js' %}"></script>
    <script src="{% static 'assets/js/app.min.js' %}"></script>
    <!-- ================== END core-js ================== -->
	

    <!-- ================== BEGIN page-js ================== -->
    <script src="{% static 'assets/plugins/gritter/js/jquery.gritter.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/source/jquery.canvaswrapper.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/source/jquery.colorhelpers.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/source/jquery.flot.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/source/jquery.flot.saturated.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/source/jquery.flot.browser.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/source/jquery.flot.drawSeries.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/source/jquery.flot.uiConstants.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/source/jquery.flot.time.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/source/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/source/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/source/jquery.flot.crosshair.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/source/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/source/jquery.flot.navigate.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/source/jquery.flot.touchNavigate.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/source/jquery.flot.hover.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/source/jquery.flot.touch.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/source/jquery.flot.selection.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/source/jquery.flot.symbol.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/source/jquery.flot.legend.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jvectormap-next/jquery-jvectormap.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jvectormap-content/world-mill.js' %}"></script>

	<script src="{% static 'assets/plugins/@highlightjs/cdn-assets/highlight.min.js' %}"></script>
	<script src="{% static 'assets/js/demo/render.highlight.js' %}"></script>
	<script src="{% static 'assets/plugins/intro.js/minified/intro.min.js' %}"></script>

	<script src="{% static 'assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
	{% comment %} <script src="{% static 'assets/js/demo/dashboard.js' %}"></script> {% endcomment %}
	{% comment %} django-insecure-vwx$d-0+xy@mbb-0pi+7$t8$la=k4paucs-twxw4bx4+05&(^t {% endcomment %}
	<!-- ================== END page-js ================== -->
</body>
</html>