{% extends 'flow/base.html' %}

{% block content %}
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header">Dashboard <small>welcome to the home page </small></h1>
    <!-- END page-header -->
    
    <!-- BEGIN row -->
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="fa fa-users"></i></div>
                <div class="stats-info">
                    <h4>TOTAL STAFF</h4>
                    <p>{{ total_staff_count }}</p>    
                </div>
                <div class="stats-link">
                    <a href="{% url 'authentication:staff_list' %}">View Staff <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
    
        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-purple">
                <div class="stats-icon"><i class="fa fa-user-tie"></i></div>
                <div class="stats-info">
                    <h4>TOTAL SUPERVISORS</h4>
                    <p>{{ supervisor_count }}</p>    
                </div>
                <div class="stats-link">
                    <a href="{% url 'flow:supervisor_dashboard' %}">View Supervisors <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
    
        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-success">
                <div class="stats-icon"><i class="fa fa-calendar-check"></i></div>
                <div class="stats-info">
                    <h4>ACTIVE SCHEDULES</h4>
                    <p>{{ active_schedule_count }}</p>    
                </div>
                <div class="stats-link">
                    <a href="{% url 'flow:current_schedule' %}">View Schedule <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
    
        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-warning">
                <div class="stats-icon"><i class="fa fa-clock"></i></div>
                <div class="stats-info">
                    <h4>STAFF ON DUTY TODAY</h4>
                    <p>{{ staff_on_duty_count }}</p>    
                </div>
                <div class="stats-link">
                    <a href="{% url 'flow:current_schedule' %}">View Today <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- END row -->
{% endblock content %}